body {
	font-family: sans-serif;
}

h1 {
	padding-top: 2%;
	text-align: center;
}

#app {
	padding: 0 0 6% 6%;
}

#media {
	text-align: center;
}

input#timeRange {
    width: 7.5%;
}

select#outcome {
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    margin-top: 5px;
}

div#branch {
    padding-left: 6%;
}

div#timeRangeDiv {
    padding-left: 3%;
}

#exportButton {
    font-size: 20px;
}