body {
	font-family: sans-serif;
}

h1 {
	padding-top: 2%;
	text-align: center;
}

#app {
	padding: 0 6% 6% 6%;
}

#media {
	text-align: center;
}

input#timeRange {
    width: 7.5%;
}

select#outcome {
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    margin-top: 5px;
}

div#branch {
    padding-left: 6%;
}

div#timeRangeDiv {
    padding-left: 3%;
}

#exportButton {
    font-size: 20px;
}

/* start of collapsible*/
.Collapsible {
  background-color: #007bff;
}

.Collapsible__contentInner {
  padding: 10px;
  background-color: white;
  border: 1px solid $lightGrey;
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: $cyan;
  color: white;


  &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}