:root {
    --main-color:#284a46;
    --hover-color: #52706c;
}

body {
	font-family: sans-serif;
}

h1 {
	padding-top: 2%;
	text-align: center;
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 1px 1px 1px grey;
    margin-bottom: 1%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--hover-color) !important;
    border-color: var(--hover-color) !important;
}

#app {
	padding: 0 6% 6% 6%;
}

#media {
	text-align: center;
}

#intro {
    padding: 20%;
}

#exportButton {
    margin-top: 1%;
}

#deleteSlide1 {
    text-align:left;
}

#deleteSlide2 {
    text-align:left;
}

#deleteButton1, #timeRangeDiv {
    display:inline;
}

#deleteButton2, #timeRangeDiv {
    display:inline;
}

input#timeRange {
    width: 8%;
}

select#outcome {
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
    height: 30px;
    margin-top: 5px;
}

select#outcome:hover {
    background-color: var(--hover-color);
}

div#branch {
    padding-left: 6%;
}

/* start of collapsible*/
.Collapsible {
  background-color: var(--main-color);
}

.Collapsible:hover {
  background-color: var(--hover-color);
}

.Collapsible__contentInner {
  padding: 10px;
  background-color: white;
  border: 1px solid $lightGrey;
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  color: white;
  border-collapse: separate;
  border-radius: 0.25 rem;

  &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}
/*end of Collapsible*/